#game{
    border: 1px solid black;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-board{
    width: 50%;
    height: 3em;
    border: 1px darkturquoise double;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}