.ui-header{
    height: 4em;
    border-style: double;
    display: flex;
}
.header-content{
    font-size: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: auto;
}
.ui-main{
    height: 100%;
    border-style: dashed;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:  auto auto;
}
.grid-item{
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}
/* .sudo-pic{
    border: 1px solid black;
    background-image: url("../pics/sudoImg.jpg");
    background-repeat: no-repeat;
    background-size: 5em;
} */
.overLay{
    position: fixed;
    border: 1px solid;
    width: max-content;
    height: max-content;
    z-index: 5;
}
#panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hidden{
    visibility: hidden;
}
/* .img{
    width: 250px;
    height:250px;
    background-image:url(../pics/sudoImg.jpg);

} */